<div class="default-strat card max-w-4xl">
  <h3 class="card-title">Default Strat</h3>
  <ul *ngFor="let s of stints; let i = index">
    <li
      class="flex align-middle justify-evenly my-1 border-b-2 border-b-gray-300"
    >
      <section class="inline-flex my-auto">
        <p
          class="font-bold h-10 w-10 pt-2 px-1 mr-1 text-white my-3 bg-slate-400 rounded-lg"
        >
          {{ i + 1 }}
        </p>

        <p
          class="font-bold h-10 w-10 pt-2 px-1 ml-1 text-white my-3 bg-slate-600 rounded-lg"
        >
          L{{ calcPitLap(stints, i) }}
        </p>
      </section>

      <section class="w-1/5 my-auto">
        <p
          class="w-14 h-14 font-medium text-2xl mx-auto pt-1 rounded-full border-8 text-white bg-slate-600"
          [ngClass]="[
            s.compound == 'soft' ? 'border-red-500' : '',
            s.compound == 'medium' ? 'border-yellow-400' : '',
            s.compound == 'hard' ? 'border-white' : '',
            s.compound == 'intermediate' ? 'border-green-500' : '',
            s.compound == 'wet' ? 'border-blue-500' : ''
          ]"
        >
          {{ s.laps }}
        </p>
        <p class="text-lg font-semibold">{{ s.compound | titlecase }}</p>
      </section>

      <section class="my-auto">
        <button
          (click)="changeCompound(i, s.compound, -1)"
          class="change-button bg-slate-500"
        >
          &lt;
        </button>
        <button
          (click)="changeCompound(i, s.compound, +1)"
          class="change-button bg-slate-500"
        >
          &gt;
        </button>
      </section>

      <section class="my-auto">
        <button
          (click)="changeStintLap(i, -1)"
          class="change-button bg-red-400"
        >
          -
        </button>
        <button
          (click)="changeStintLap(i, +1)"
          class="change-button bg-green-400"
        >
          +
        </button>
      </section>

      <button
        class="mx-2 my-auto w-6 h-6 rounded-lg bg-red-400 text-white"
        (click)="removeStint(i)"
      >
        X
      </button>
    </li>
  </ul>
  <button
    (click)="addStint()"
    class="bg-green-400 text-white text-lg font-medium rounded-lg px-3 py-1"
  >
    Add Stint
  </button>
  <section class="card-footer">
    <span>Laps {{ stratTotalLaps }}/{{ totalLaps }}</span>
    (<span
      class="font-bold"
      [ngClass]="
        stratTotalLaps - totalLaps < 0 ? 'text-red-500' : 'text-green-500'
      "
      >{{ stratTotalLaps - totalLaps > 0 ? "+" : ""
      }}{{ stratTotalLaps - totalLaps }}</span
    >)
  </section>
</div>

<div class="race-map m-3 card max-w-4xl h-96">
  <h3 class="card-title">Race map</h3>
  <div class="mt-3 mx-auto h-fit bg-red-500">
    <ngx-charts-area-chart
      [view]="view"
      [customColors]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
    >
    </ngx-charts-area-chart>
  </div>
</div>
