<div>
  <h1 class="title font-bold text-center text-5xl mt-5 mb-9 text-sky-800">
    {{ title }}
  </h1>
  <hr />
  <div class="lap-counter text-center mt-4 mb-3">
    <p class="text-xl">Total laps</p>
    <input
      class="text-2xl w-14 rounded-lg text-center ml-3 mr-2 pl-1 pr-1 border-solid border-2"
      type="number"
      name="totalLaps"
      id="totalLaps"
      [value]="totalLaps"
    />
  </div>

  <div class="text-center bg-slate-100 rounded-lg mx-auto pt-3 pb-3 max-w-md">
    <h3 class="text-2xl">Tyre laps</h3>
    <div class="flex flex-row justify-center">
      <div
        *ngFor="let tyre of tyres"
        class="tyres-config w-1/5 bg-slate-200 rounded-lg p-3 m-3 min-w-fit max-w-xs"
      >
        <p class="">{{ tyre.compound | titlecase }}</p>
        <p class="">{{ tyre.laps }}</p>
        <button
          (click)="changeTyreLap(tyre.compound, -1)"
          class="change-button mx-1 mt-1 w-8 h-8 align-middle rounded-lg bg-slate-600 text-white"
        >
          -
        </button>
        <button
          (click)="changeTyreLap(tyre.compound, +1)"
          class="change-button mx-1 mt-1 w-8 h-8 align-middle rounded-lg bg-slate-600 text-white"
        >
          +
        </button>
      </div>
    </div>
  </div>

  <div class="default-strat">
    <h3>Default Strat</h3>
    <ul *ngFor="let s of stints; let i = index">
      <li>
        id:{{ i }} C:{{ s.compound | titlecase }} | L:{{ s.laps }}
        <br />
        Compound
        <span
          ><button
            (click)="changeCompound(i, s.compound, -1)"
            class="change-button"
          >
            &lt;
          </button></span
        >
        <span
          ><button
            (click)="changeCompound(i, s.compound, +1)"
            class="change-button"
          >
            &gt;
          </button></span
        >
        <br />
        Lap
        <span
          ><button (click)="changeStintLap(i, -1)" class="change-button">
            &lt;
          </button></span
        >
        <span
          ><button (click)="changeStintLap(i, +1)" class="change-button">
            &gt;
          </button></span
        >
        <br />
        Remove
        <span><button (click)="removeStint(i)">X</button></span>
      </li>
    </ul>
    <button (click)="addStint()">Add Stint</button>
  </div>

  <div class="alt-strat">
    <h3>Alt Strat</h3>
  </div>
</div>
